.DS_Store
node_modules/
dist/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/coverage/
selenium-debug.log
yarn.lock
sh.exe.stackdump
vim.exe.stackdump

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
